@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    @*Original*@

    @*<strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@

    @*Part 1*@
    @*<strong>Support:</strong> <email>Support</email><br />
        <strong>Marketing:</strong> <email>Marketing</email>*@

    @*Part 2*@
    <strong>Support:</strong> <email mail-to="Support"></email><br />
    <strong>Marketing:</strong> <email mail-to="Marketing"></email>

    @*PArt 3: ProcessAsync*@
    <br />
    <h3>Async Tag Helper</h3>
    <strong>Support:</strong> <email>Support</email><br />
    <strong>Marketing:</strong> <email>Marketing</email>

</address>
