@model SampleWebApp.Models.Customer

@{
    ViewData["Title"] = "GetCustomer";
}

<h1>GetCustomer</h1>

<label>Customer Id:</label> @Model.Id
<br />
<label>Firstname:</label> @Model.Firstname
<br />
<label>Lastname:</label> @Model.Lastname
<br />

<p>@Model.Firstname</p>
