
@{
    ViewData["Title"] = "Get One Customer";
}

<h1>GetOne</h1>
<div>
    <p>This is the customer controller's GetOne action.</p>
</div>

@*Razor Syntax*@
<h2>@ViewBag.Message</h2>
<h3>@ViewData["Message"]</h3>
<p>The customer id you passed is @ViewBag.CustomerId</p>
<p>The customer id you passed is @ViewData["CustomerId"]</p>

