@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@{
    ViewData["Title"] = "Home Page";
    var id = UserManager.GetUserId(User);
}

<p>User Id: @id</p>

@*Fetch User details in Controller*@
@*User id and name fetched from Controller.*@
<p>
    <span><b>User Id: </b><i>@ViewBag.UserId</i></span>
    <br />
    <span><b>User Name: </b><i>@ViewBag.Username</i></span>
</p>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
