@*@Html.Partial() method doesn't need to be in code block 
    because it returns a html string.
*@

@Html.Partial("_HeaderNavBar")
<div>
    @*Content of this view*@
    <b><i>Partial</i></b>
</div>
