@using Demo01WebApp.Helpers

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<div>
    <p>This is an HTML string: @Html.HelloWorldHTMLString()</p>
    <p>This is a regular string: @Html.HelloWorldString()</p>
</div>
